*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;    
}

.clearfix {
    float: none;
    clear:both;
}

/* CSS para el header y navbar*/
header{
    background-color: #3f3f3f;
}

.logo{
    width: 300px;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carrito{
    float:right;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #eaeaea;
    cursor: pointer;
}

.settings{
    margin-top: 80px;
    margin-bottom: 30px;
    color:#eaeaea;
}

settings:hover{
    color: #6c6c6c;
}

.logo_nav{
    width: 50px;
}

.padding-items-navbar{
    padding: 5px 30px 5px 30px;
}

.espaciado{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* css para el footer */

footer{
    margin-top: 20px;
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    position: relative;
    bottom:0;
    width: 100%;
}

.pie-de-pagina{
    text-align: center;
    color:#fff;
    font-weight: bold;
}

.links-deactivated{
    text-decoration: none;
}

td{
    color: #B2B1B1;
}

tr{
    border-color: #3f3f3f;
}

.upbar{
    margin-top: 10px;
    text-align: center;
}

.btn-color{
    background-color: #3f3f3f;
    color: #fff;
    margin-top: 5px;
}

/*Banner*/
.center{
        padding: 50px 0px 0px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

/*Container Menu*/

.card{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.container-menu-cards{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#mostrador {
    text-align: center;
}

.btn-anadir-carrito{
    margin-top: 20px;
    margin-left: 60px;
}

.my-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #2874A6;
    color: white; 
    cursor: pointer;        
}

.my-button:hover {
    background-color: #21618C;
}

.btn-color:hover{
    background-color: #585454;
    color:#fff;    
}

.lineas-separacion{
    border-top: 6px solid #000;
}