*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;    
}

.clearfix {
    float: none;
    clear:both;
}

/* CSS para el header y navbar*/
header{
    background-color: #3f3f3f;
}

.logo{
    width: 300px;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carrito{
    float:right;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #eaeaea;
    cursor: pointer;
}

.settings{
    margin-top: 80px;
    margin-bottom: 30px;
    color:#eaeaea;
}

settings:hover{
    color: #6c6c6c;
}

.logo_nav{
    width: 50px;
}

.padding-items-navbar{
    padding: 5px 30px 5px 30px;
}

.espaciado{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* css para el footer */

footer{
    margin-top: 20px;
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    position: relative;
    bottom:0;
    width: 100%;
}

.pie-de-pagina{
    text-align: center;
    color:#fff;
    font-weight: bold;
}

.links-deactivated{
    text-decoration: none;
}

td{
    color: #B2B1B1;
}

tr{
    border-color: #3f3f3f;
}

/* Subtitulo*/
.subtitulo{
    text-align: center;
    margin: 40px 0px 10px 0px;
}

/*Menu*/
.card{
    margin: 20px 0px 20px 0px;
}

/* Texto de h2 en acerca de nosotros*/
#texto-an{
    text-align: center;
}